<div id="<%= dom_id assembly %>">
  <div class="bg-gray-200 p-3 rounded-md my-3 border-2 border-black shadow-lg">
    <p class="my-5">
      <strong class="block font-medium mb-1">Title:</strong>
      <%= assembly.title %>
    </p>
    <p class="my-5">
      <strong class="block font-medium mb-1">Serial:</strong>
      <%= assembly.serial %>
    </p>
    <div class="my-5">
      <p class="block font-medium mb-1">Parts: <%# assembly.parts.count %></p>
      <%= render assembly.parts %>
    </div>
    <% if action_name != "show" %>
      <%= link_to "Show this assembly", assembly, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
      <%= link_to "Edit this assembly", edit_assembly_path(assembly), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
      <hr class="mt-6">
    <% end %>
  </div>
</div>
